# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# Build
/build
*.tsbuildinfo

# Environment files
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
ENV/
